# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
.venv/
venv/
env/

# Environment variables and secrets
.env
.env.*
!.env.example
dbt/profiles.yml
# Jupyter
.ipynb_checkpoints/

# Data
data/raw/*
data/processed/*
data/quarantine/*
# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/
# dbt
dbt/target/
dbt/logs/